<header class="w-full h-full bg-green-800 text-white flex items-center justify-between py-1">
    <div class="ml-5">
      <img src="/images/logo.png" alt="Mr. Billy Logo" class="h-16">
    </div>
    <nav class="mr-5">
      <a href="/profile" class="ml-3 text-white text-lg hover:text-blue-500 transition duration-300">Profile</a>
      <a href="/home" class="ml-3 text-white text-lg hover:text-blue-500 transition duration-300">home</a>
    </nav>
  </header>